div {
  text-align: center;
}
#main {
  margin-top: 47px;
  height: 233px;
  padding-top: 109px;
}
#logo {
  height: 92px;
  width: 272px;
}
#search {
  margin-top: 0;
  top: 269px;
  position: absolute;
  /* height: 118px; */
  /* width: 60vw; */
  min-width: 100vw;
  text-align: center;
  width: 100%;
}
#bar {
  border: 1px solid #c0c0c0;
  border-radius: 20px;
  width: 582px;
  height: 44px;
  padding: 12px 30px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
