div {
  text-align: center;
}
#main {
  margin-top: 47px;
  height: 233px;
  padding-top: 109px;
}
#logo {
  height: 92px;
  width: 272px;
}
#search {
  height: 118px;
  width: 60vw;
  text-align: center;
}
